<div id="<%= dom_id question %>">
  <p>
    <strong>Quiz:</strong>
    <%= question.quiz_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Answer1:</strong>
    <%= question.answer1 %>
  </p>

  <p>
    <strong>Answer2:</strong>
    <%= question.answer2 %>
  </p>

  <p>
    <strong>Answer3:</strong>
    <%= question.answer3 %>
  </p>

  <p>
    <strong>Answer4:</strong>
    <%= question.answer4 %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= question.correct_answer %>
  </p>

</div>
