<h2>Your Quiz Score: <%= @quiz_submission.score.round(2) %> % </h2>

<% @quiz.questions.each do |question| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Question</h5>
      <p class="card-text"><%= question.content %></p>
      <% 1.upto(4) do |answer_index| %>
        <% selected_answer = @quiz_submission.user_answers[question.id.to_s].to_i %>
        <div class="form-check">
          <% if answer_index == question.correct_answer %>
            <div class="alert alert-success">
              <strong>Correct answer: </strong> <%= question.send("answer#{answer_index}") %></strong>
            </div>
          <% elsif answer_index == selected_answer %>
            <div class="alert alert-danger">
              <strong>Incorrect answer: </strong> <%= question.send("answer#{answer_index}") %></strong>
            </div>
          <% else %>
            <div class="alert alert-secondary">
              <%= question.send("answer#{answer_index}") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
