<%= form_with(url: quiz_submissions_path(@quiz),local: true, method: :post) do |f| %>
  <% @quiz.questions.each_with_index do |question, index| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Question <%= index + 1 %>:</h5>
        <p class="card-text"><%= question.content %></p>
        <% 1.upto(4) do |answer_index| %>
          <% answer = question.send("answer#{answer_index}") %>
          <% if answer.present? %>
            <div class="form-check">
              <%= f.radio_button "question_#{question.id}", answer_index, class: "form-check-input" %>
              <%= f.label "question_#{question.id}_#{answer_index}", answer, class: "form-check-label" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit "Submit Quiz", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>

